In [ ]:
Q1.Explain with an example each when to use a for loop and a while loop.
     For loop is generally used when iterations are known, or when we want output from given list. Also when we know how many times the loop
     will excecute.

In [1]:
a=[1,2,3,4,5,6]
odd_numbers=[]
even_numbers=[]
for i in a:
    if i%2==0:
        print("the even numbers are:",i)
        even_numbers.append(i)
    else:
        print("the odd numbers are:",i)
        odd_numbers.append(i)

the odd numbers are: 1
the even numbers are: 2
the odd numbers are: 3
the even numbers are: 4
the odd numbers are: 5
the even numbers are: 6

In [2]:
odd_numbers

[1, 3, 5]

In [3]:
even_numbers

[2, 4, 6]

In [ ]:
While loop is used when we dont know how many times loop will excecute until it matches the condition.

In [7]:
#for ex
n=int(input('enter the number that you want to its table:'))
i=1
while i<=10:
    square = n*i
    print(n,"*",i,"=",square)
    i=i+1
     
square

enter the number that you want to its table: 2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

20

In [ ]:
Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [14]:
sum=0
for i in range(0,10):
    sum= sum+i
    i=i+1
    print(i)
sum

1
2
3
4
5
6
7
8
9
10

45

In [37]:
num=0
sum_=0
while num<10:
    sum_=sum_+num
    num=num+1
    print(num)
sum_

1
2
3
4
5
6
7
8
9
10

45

In [54]:
product=1
for i in range(1,10):
    product=product*i
    print(product)
    i=i+1
product

1
2
6
24
120
720
5040
40320
362880

362880

In [61]:
i=1
prdct=1
while i<10:
    prdct=prdct*i
    print(prdct)
    i=i+1
prdct

1
2
6
24
120
720
5040
40320
362880

362880

In [ ]:
Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.

In [72]:
unit =int(input("units of electricity consumed in a month:"))
if unit <=100:
    bill=unit*4.5
    print(bill)
elif unit>100 and unit<=200:
    bill=((unit-100)*6+(100*4.5))
    print(bill)
elif unit>201 and unit<=300:
    bill=((unit-200)*10+(100*6)+(100*4.5))
    print(bill)
elif unit>=300:
    bill=((unit-300)*20+(100*10)+(100*6)+(100*4.5))
    print(bill)

units of electricity consumed in a month: 310

2250.0

In [ ]:
Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [99]:
l1=list(range(1,101))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [22]:
l1=list(range(1,101))
print(l1)
cube=1
n=1
for i in l1:
    cube=i*i*i
    print(i,"cube:",cube)
    l2=[]
    if cube/4 or cube/5:
        l2.append(cube)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
1 cube: 1
2 cube: 8
3 cube: 27
4 cube: 64
5 cube: 125
6 cube: 216
7 cube: 343
8 cube: 512
9 cube: 729
10 cube: 1000
11 cube: 1331
12 cube: 1728
13 cube: 2197
14 cube: 2744
15 cube: 3375
16 cube: 4096
17 cube: 4913
18 cube: 5832
19 cube: 6859
20 cube: 8000
21 cube: 9261
22 cube: 10648
23 cube: 12167
24 cube: 13824
25 cube: 15625
26 cube: 17576
27 cube: 19683
28 cube: 21952
29 cube: 24389
30 cube: 27000
31 cube: 29791
32 cube: 32768
33 cube: 35937
34 cube: 39304
35 cube: 42875
36 cube: 46656
37 cube: 50653
38 cube: 54872
39 cube: 59319
40 cube: 64000
41 cube: 68921
42 cube: 74088
43 cube: 79507
44 cube: 85184
45 cube: 91125
46 cube: 97336
47 cube: 103823
48 cube: 110592
49 cube: 117649
50 cube: 125000
51 cube: 132651
52 cube: 140608
53 cube: 148877
54 cube: 157464
55 cube: 166375
56 cube: 175616
57 cube: 185193
58 cube: 195112
59 cube: 205379
60 cube: 216000
61 cube: 226981
62 cube: 238328
63 cube: 250047
64 cube: 262144
65 cube: 274625
66 cube: 287496
67 cube: 300763
68 cube: 314432
69 cube: 328509
70 cube: 343000
71 cube: 357911
72 cube: 373248
73 cube: 389017
74 cube: 405224
75 cube: 421875
76 cube: 438976
77 cube: 456533
78 cube: 474552
79 cube: 493039
80 cube: 512000
81 cube: 531441
82 cube: 551368
83 cube: 571787
84 cube: 592704
85 cube: 614125
86 cube: 636056
87 cube: 658503
88 cube: 681472
89 cube: 704969
90 cube: 729000
91 cube: 753571
92 cube: 778688
93 cube: 804357
94 cube: 830584
95 cube: 857375
96 cube: 884736
97 cube: 912673
98 cube: 941192
99 cube: 970299
100 cube: 1000000

In [ ]:
l1

In [23]:
Q .5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [ ]:
string = input("enter the string:")
l2=[]
for j in string:
    if (j == 'a'or j == 'e'or j == 'i' or j == 'o' or  j == 'u'):
        l2.append(j)
return l2